.product {
  padding: 10px;
  position: relative;

  &__name:hover {
    cursor: pointer;
  }

  &__container {
    padding: 5px;

    background-color: material-color('grey', '100');
  }

  &__details {
    float: left;

    & .tag {
      margin-right: 5px;
    }
  }

  &__photo {

  }
}