.product {
  padding: 10px;
  position: relative;

  &__name:hover {
    cursor: pointer;
  }

  &__container {
    padding: 5px;

    background-color: material-color('grey', '100');
  }

  &__details {
    float: left;

    & .tag {
      margin-right: 5px;
    }
  }

  &__photo {
    margin: -5px;

    width: 100px;
    height: 100px;

    float: right;

    background-position: center center;
    background-size: cover;

    &:hover {
      cursor: pointer;
    }
  }
}