@import '../node_modules/sass-material-colors/sass/sass-material-colors';

@import 'reset';
@import 'utils';
@import 'components/Filter';
@import 'components/ProductList';
@import 'components/ProductDetails';
@import 'components/ProductInfo';
@import 'components/ProductPhoto';
@import 'components/Product';
@import 'components/Tags';

body {
  background-color: material-color('blue-grey', '700');
  font-family: system, sans-serif;
}